.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_1.xml
.idea/libraries/Maven__org_apache_ibatis_ibatis_sqlmap_2_3_4_726.xml
.idea/libraries/Maven__org_apache_velocity_velocity_1_6_4.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_3_2_8_RELEASE.xml
.idea/libraries/Maven__oro_oro_2_0_8.xml
.idea/scopes/scope_settings.xml
